*{
    margin:0;
    padding:0;
}
body{
    height:100%;
    font-family: Verdana, sans-serif;
}
html {
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
header{}

.body{
    width: 100%;
}

.accueil {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.accueil-titre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Freestyle Script";
    font-size: xxx-large;
}
.accueil-photo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: #D6BAEE;
}





footer {
    text-align: center;
    background: #F4D03F;
    color: #4A235A;
    bottom: 0;
    width: 100%;
    height: 80px;
    position: absolute;
    padding: 30px 0;
}

footer div {

}