{% extends 'base.html.twig' %}

{% block title %}Détail étudiant{% endblock %}

{% block body %}

    <div class="detail">
        <h5>Informations à propos de :</h5>
        <h1>
            {{ etudiant.prenom | capitalize }}
            {{ etudiant.nom | capitalize }}
        </h1>
        <p>{{ etudiant.email }}</p>
        {% if etudiant.tireAuSort == true %}
            <p>ramènera un gâteau le {{ etudiant.dateDuGateau | date("d/m/Y") }}</p>
        {% else %}
            <p>n'a pas encore été tiré au sort...</p>
        {% endif %}
    </div>
{% endblock %}